# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL=postgres://david:root@localhost:5432/blog_graphql
SHADOW_DATABASE_URL=postgres://david:root@localhost:5432/blog_graphql
APP_SECRET=secret_code
AUTH0_DOMAIN=dev-2q3q3q3q.us.auth0.com
AUTH0_AUDIENCE=https://blog-graphql.com
AUTH0_SIGNING_KEY=key
AUTH0_CLIENT_ID=client_id
